<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div><%- include('common/nav')%></div>
    <div class="page_template"><%- include(page)%></div>
  </body>
</html>
