@font-face {
  font-family: "KyoboHandwriting2021sjy";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding-bottom: 5px;
  border-bottom: 0.5px solid lightgray;
  line-height: 60px;
  font-family: var(--mainfont);
  margin-bottom: 10px;
  display: flex;
}

ul {
  display: flex;
  align-items: center;
  width: 100%;
}

li {
  width: 80px;
  margin-right: 10px;
  list-style: none;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.nav_list {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.nav_route {
  display: flex;
  color: var(--maincolor);
}

.nav_account {
  display: flex;
  color: var(--fontcolor);
}
