<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <ul>
        <div class="nav_list">
          <div class="nav_route">
            <li>
              <img
                src="/images/logo.png"
                width="60px"
                height="60px"
                onclick="javascript:location.href='/'"
              />
            </li>
            <li onclick="javascript:location.href='/'">Home</li>
            <li onclick="javascript:location.href='/books'">Books</li>
          </div>
          <div class="nav_account">
            <%if(status === true){%>
            <li>마이페이지</li>
            <li onclick="javascript:location.href='/auth/logout'">로그아웃</li>
            <%}else{%>
            <li onclick="javascript:location.href='/auth'">로그인</li>
            <li onclick="javascript:location.href='/register'">회원가입</li>
            <%}%>
          </div>
        </div>
      </ul>
    </header>
  </body>
</html>
