<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/admin.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="admin_plate">
      <h1>재고 추가하기</h1>
      <div class="add_books">
        <div class="img_preview">미리보기</div>
        <div class="add_form">
          <form
            class="book_form"
            method="post"
            onsubmit="addBook"
            action="/addBook"
          >
            <label for="title">책 제목</label>
            <input
              type="text"
              name="title"
              placeholder="책 제목을 입력하세요."
              id="title"
            />
            <div class="number">
              <span>
                <label for="qty">수량</label>
                <input type="number" name="qty" min="0" max="150" id="qty" />
              </span>
              <span>
                <label for="price">가격</label>
                <input type="number" name="price" min="0" id="price" />
              </span>
            </div>
            <label for="desc">책 설명</label>
            <textarea name="desc" id="desc"></textarea>
            <label for="img">책 이미지 Url</label>
            <!-- <input type="file" name="img" id="img" /> -->
            <div>
              <input type="text" name="img" id="img" />
              <button>적용하기</button>
            </div>
            <input type="submit" value="추가하기" id="submit" />
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    const addBook = (e) => {
      e.preventDefault();
      alert("click!");
    };
  </script>
</html>
