<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login_block">
      <div class="login_area">
        <form class="login_form" method="post">
          <label for="id_input">아이디</label>
          <input type="text" name="id" id="id_input" />
          <label for="pw_input">비밀번호</label>
          <input type="password" name="password" id="pw_input" />
          <input type="submit" value="로그인" id="submit_btn" />
        </form>
        <div class="direction">
          회원이 되어보세요! <a href="/register">회원가입</a>
        </div>
      </div>
      <div class="login_img"></div>
    </div>
  </body>
</html>
