<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div>Hello Main!</div>
    <input
      type="button"
      value="admin"
      onclick="javascript:location.href='/admin'"
    />
    <div class="container">
      <%books.forEach((book,index)=>{%>
      <div class="item">
        <img
          src="<%=book.book_img%>"
          alt="book_img"
          width="120px"
          height="150px"
        />
        <div class="info"><%=book.book_title%></div>
        <div class="info"><%=book.book_author%></div>
        <div class="info"><%=book.book_price%>원</div>
      </div>
      <%})%>
    </div>
  </body>
</html>
